#man-wapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}    

.man-container {
  width: 19em;
  text-align: left;
  height: 22rem;
  padding: 2rem;

}
.sedans{
  align-content: center;
  background-color: hsl(31, 77%, 52%);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  margin-top: 2rem;
}

.suvs{
  background-color: hsl(184, 100%, 22%);
}
.luxury{
  background-color:hsl(179, 100%, 13%) ;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  margin-bottom: 2rem;
}

h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
button{
  width: 10em;
  padding: 1em;
  margin: none;
  border-radius: 10em ;
  border-color: hsl(0, 0%, 95%);
  margin-top: auto;
}

.sedans button{
  color: hsl(31, 77%, 52%) ;
}


.suvs button{
  color: hsl(184, 100%, 22%);
}


.luxury button{
  color: hsl(179, 100%, 13%);
}
footer {
  display: none;
}