@media(max-width: 600px){
  #man-wapper{
      display: flex;
      flex-direction: column;
      align-items: stretch;
      margin: auto;
      justify-content: space-between;

  }    
  .sedans{
      align-content: center;
      background-color: hsl(31, 77%, 52%);
      border-bottom-left-radius: 0%;
      border-top-right-radius: 5%;
      border-top-left-radius: 5%;
      width: 16em;
      text-align: left;
      height: auto;
  }

  .suvs{
      background-color: hsl(184, 100%, 22%);
      width: 10em;
      width: 16em;
      text-align: left;
      height: auto;
     
  }

  .luxury{
      background-color:hsl(179, 100%, 13%) ;
      border-bottom-right-radius: 5%;
      border-bottom-left-radius: 5%;
      border-top-right-radius: 0%;
      width: 16em;
      text-align: left;
      height: auto;
      
  }

  button{
      width: 10em;
      padding: 1em;
      margin: none;
      border-radius: 10em ;
      border-color: hsl(0, 0%, 95%);
      margin-top: auto;
  }
  
  
  footer {
      display: none;
  }
}