@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca';
    
}
html, body {
    margin: 0;
    padding: 0;
    height:100%;
    
}
#man-wapper{
    display: flex;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100vh;
    height: 100%;
}
#man-wapper p{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 17px;
    padding: 0.6em;
    margin-top: 10%;
}
#man-wapper h1{
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
    font-family: 'Big Shoulders Display';
    font-size: 35px;
    margin-top: 10%;
    margin-left: 5%;
}
.sedans{
    align-content: center;
    background-color: hsl(31, 77%, 52%);
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
    width: 150em;
    text-align: left;
    height: 30em;
    padding: 2em;
}
.sedans button{
    color: hsl(31, 77%, 52%);
}
.sedans button:hover{
    color: hsl(0, 0%, 95%);
   background-color: hsl(31, 77%, 52%) ;
   
}
.suvs{
    background-color: hsl(184, 100%, 22%);
    width: 150em;
    text-align: left;
    height: 30em;
    padding: 2em;
}
.suvs button{
    color: hsl(184, 100%, 22%);
}
.suvs button:hover{
    color: hsl(0, 0%, 95%);
   background-color: hsl(184, 100%, 22%) ;
   
}
.luxury{
    background-color:hsl(179, 100%, 13%) ;
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5%;
    width: 150em;
    text-align: left;
    height: 30em;
    padding: 2em;
}
.luxury button{
    color: hsl(179, 100%, 13%);
}
.luxury button:hover{
    color: hsl(0, 0%, 95%);
   background-color:  hsl(179, 100%, 13%);
   
}
button{
    
    width: 10em;
    padding: 1em;
    margin: none;
    border-radius: 10em ;
    border-color: hsl(0, 0%, 95%);
    margin-top: 30%;
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    color: white;
    font-size: 11px; text-align: center; 
    color: hsl(228, 45%, 44%); 
}

@media(max-width: 600px){
    #man-wapper{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin: auto;
        justify-content: space-between;

    }    
    .sedans{
        align-content: center;
        background-color: hsl(31, 77%, 52%);
        border-bottom-left-radius: 0%;
        border-top-right-radius: 5%;
        border-top-left-radius: 5%;
        width: 16em;
        text-align: left;
        height: auto;
    }

    .suvs{
        background-color: hsl(184, 100%, 22%);
        width: 10em;
        width: 16em;
        text-align: left;
        height: auto;
       
    }
 
    .luxury{
        background-color:hsl(179, 100%, 13%) ;
        border-bottom-right-radius: 5%;
        border-bottom-left-radius: 5%;
        border-top-right-radius: 0%;
        width: 16em;
        text-align: left;
        height: auto;
        
    }

    button{
        width: 10em;
        padding: 1em;
        margin: none;
        border-radius: 10em ;
        border-color: hsl(0, 0%, 95%);
        margin-top: auto;
    }
    
    
    footer {
        display: none;
    }
}